<div class="container">
<h2 class="text-center">Editar Perfil de: <%= @user.nombre%></h2>
<div class="col-md-5">

</div>
<div class="col-md-3">
    <%= image_tag @user.perfil.thumb, class: "img-circle"%>
</div>
<div class="col-md-4">

</div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-md-6">
        <%= f.input :nombre, label: "Nombres", autofocus: true %>
    </div>
    <div class="col-md-6">
      <label>Apellidos</label>
        <input type="text" placeholder="Apellidos" class="form-control" value="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
    </div>
    <div class="col-md-6">
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
    </div>
  </div>
  <div class="form-inputs">


    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>


    <div class="row">
      <div class="col-md-6">
        <%= f.input :current_password,
                    hint: "Digite su contraseña actual para confirmar los cambios",
                    required: true,
                    label: "Contraseña Actual"%>
      </div>
        <div class="col-md-5">

        </div>
        <div class="col-md-3">
          <%= f.input :perfil, class: "form-control", hint: "Carga otra foto si Deseas Actualizar tu foto de Perfil"%>
        </div>
        <div class="col-md-4">

  </div>



    </div>
  </div>

  <div class="row">
    <div class="col-md-5">

    </div>
    <div class="col-md-3">
      <%= f.button :submit, "Actualizar mis Datos", class: "btn btn-warning" %>
    </div>
    <div class="col-md-4">

    </div>
  </div>
<% end %>

<h3>Desactivar mi Cuenta</h3>

<p>Cuentanos tu Inquietud? <%= link_to "Desactivar mi Cuenta", registration_path(resource_name), data: { confirm: "Estás Seguro?" }, method: :delete %></p>

<%= link_to "Atras", :back %>
</div>
