<header>
  <nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="col-md-8">

    </div>

    <div class="col-md-4 collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to('Articulos', articulos_path, class:"nav-link") %>
        </li>
        <% if current_user.perfil.thumb.present?%>
              <%= image_tag current_user.perfil.thumb, class: "fa fa-user NavBar-Nav-icon btn-PopUpLogin fa header-menu-mobile-icon"%>
        <%else%>
              <i class="fa fa-user NavBar-Nav-icon btn-PopUpLogin" aria-hidden="true"></i>
        <%end%>
        <%= link_to "CERRAR SESIÓN", destroy_user_session_path, method: :delete, class: "btn btn-danger header-menu-mobile-btn"%>
        <%else%>
        <a href="<%= new_user_session_path %>" class="btn btn-nar header-menu-mobile-btn">INICIAR SESIÓN</a>
              <%= link_to "REGISTRARSE", new_user_registration_path, class: "btn btn-nar header-menu-mobile-btn"%>
      <% end %>
      </ul>
    </div>
  </nav>
</header>
