<div class="container">
  <div class="row">
    <% if signed_in? %>
                  <% breadcrumb :categorias %>
                    <h1 class="text-center">Categorias</h1>
                    <%= form_tag(categorias_path, class:"form-inline" , method: :get) do %>
                      <div class="form-group">
                        <input type="text" name="q" class="form-control" placeholder="Buscar..." type="text" value="<%= params[:q] %>">
                        <span class="form-group-btn">
                          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                      </div>
                     <%end%><br>
                        <% @categorias.each do |categoria| %>
                        <div class="col">
                           <%= link_to categoria_path(categoria) do %>
                              <div class="full-width post">
                                <%= link_to categoria_articulos_path(categoria.id) do %>
                                  <figure class="full-width post-img">
                                    <!-- Tamaño de la imagen 248x186 pixeles-->
                                    <% if categoria.foto.present? %>
                                        <%= image_tag categoria.foto.thumb.url%>
                                    <%else%>
                                        <%= image_tag 'logoSena.png'%>
                                    <%end%>
                                  </figure>
                                <%end%>
                                <div class="full-width post-info">
                                   <p class="full-width post-info-price nom_gru"><%= link_to categoria.nombre, categoria_articulos_path(categoria.id)%></p>
                                  <p class="full-width post-info-price nom_gru"> Articulos Disponibles <%=categoria.articulos.where(estado: true).count%></p>
                                </div>
                              </div>
                              <% unless @categorias.present? %>
                                <tr>
                                  <h2 class="text-center">No Hay Informacion Solicitada</h2>
                                </tr>
                              <%end%>
                      </div>
                    <%end%>
              <%end%>
          <%end%>
  </div>
</div>
