<div class="container">
  <% breadcrumb :categoria_articulos, @categoria, @articulos %>
  <h1 class="text-center">Articulos De La Categorias <b><%= @categoria.nombre %></b> </h1>
  <% if signed_in? %>
    <%if current_user.has_role? :admin %>
      <div class="table-responsive">
        <%= form_tag(articulos_path, class:"form-inline" , method: :get) do %>
          <div class="form-group">
            <input type="text" name="q" class="form-control" placeholder="Buscar..." type="text" value="<%= params[:q] %>">
            <span class="form-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
            </span>
          </div>
        <%end%><br>
            <table class="table table-striped table-bordered">
              <tr>
                <th class="bg-primary">ID</th>
                <th class="bg-primary">CODIGO</th>
                <th class="bg-primary">NOMBRE</th>
                <th class="bg-primary">CANTIDAD</th>
                <th class="bg-primary">PRECIO</th>
                <th class="bg-primary">ESTADO</th>
              </tr>
              <% @articulos.each do |articulo| %>
                <tr>
                  <td><%=  articulo.id%></td>
                  <td><%= link_to articulo.codigo , articulo_path(articulo.id) %></td>
                  <td><%=  articulo.nombre %></td>
                  <td><%=  articulo.cantidad %></td>
                  <td><%=  articulo.valor %></td>
                  <td><%= articulo.estado ? "Activo" : "Inactivo" %></td>
                </tr>
              <%end%>
              <% unless @articulos.present? %>
                <tr>
                  <h2 class="text-center">No Hay Informacion Solicitada</h2>
                </tr>
              <%end%>
            </table>
      </div><br>
        <%else%>
        <% breadcrumb :categoria_articulos, @categoria, @articulos %>
         <% @articulos.each do |articulo| %>
           <div class="col">
             <%= link_to articulo_path(articulo.id) do %>
                <div class="full-width post">
                   <figure class="full-width post-img">
                   <!-- Tamaño de la imagen 248x186 pixeles-->
                      <% if articulo.imagen.present? %>
                        <%= image_tag articulo.imagen.thumb.url %>
                      <%else%>
                        <%= image_tag 'default-150x150'%>
                      <%end%>
                      <div class="full-width post-info">
                        <p class="full-width post-info-price nom_gru"><label>Nombres:</label><%=  articulo.nombre%></p>
                        <p class="full-width post-info-price nom_gru"><label>Precio:</label><%=  articulo.valor%></p>
                      </div>
                    </figure>
                 </div>
              <%end%>              
              <%end%>
           </div>
         <%end%>
    <%end%>
  <%end%>
</div>
