<header class="main-header">
  <a href="<%=home_index_path%>" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>V</b>1.0</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>UNIFOR</b>MATE</span>
  </a>
  <nav class="navbar navbar-static-top">
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
           <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <% if current_user.perfil.thumb.present?%>
                        <%= image_tag current_user.perfil.thumb,  class: "user-image", alt: "User Image"%>
                      <%else%>
                        <%=image_tag 'user2-160x160.jpg', class: "user-image", alt: "User Image"%>
                      <%end%>
                          <% if user_signed_in? %>
                          <span class="hidden-xs"><%= current_user.nombre.upcase%></span>
                        </a>
                    <%end%>
                    <ul class="dropdown-menu">
                      <li class="user-header">
                        <% if current_user.perfil.thumb.present?%>
                          <%= image_tag current_user.perfil.thumb,  class: "img-circle", alt: "User Image"%>
                        <%else%>
                          <%=image_tag 'user2-160x160.jpg', class: "img-circle", alt: "User Image"%>
                        <%end%>
                        <% if user_signed_in? %>
                        <p>
                          <%= current_user.nombre.upcase%>
                          <small>Miembro desde: <%= l current_user.created_at, format: :long%></small>
                        </p>
                      </li>
                      <%end%>
                      <!-- Menu Body -->
                      <li class="user-body">
                        <div class="row">
                          <div class="col-xs-4 text-center">
                            <a href="#">Seguidoras</a>
                          </div>
                          <div class="col-xs-4 text-center">
                            <a href="#">Ventas</a>
                          </div>
                          <div class="col-xs-4 text-center">
                            <a href="#">Amigas</a>
                          </div>
                        </div>
                        <!-- /.row -->
                      </li>
                      <!-- Menu Footer-->
                      <li class="user-footer">
                        <div class="pull-left">
                          <a href="<%= edit_user_registration_path %>" class="btn btn-success">MI PERFIL</a>
                        </div>
                        <div class="pull-right">
                          <%= link_to "SALIR", destroy_user_session_path, method: :delete, class: "btn btn-danger header-menu-mobile-btn"%>
                        </div>
                      </li>
                    </ul>
                  </li>
                <% else %>
                <li class="dropdown messages-menu">
                  <a href="<%= new_user_session_path %>"><span class="fa fa-user-circle-o"></span>INICIAR SESIÓN</a>
                </li>
                <li class="dropdown notifications-menu">
                  <a href="<%=new_user_registration_path%>"><span class="fa fa-registered"></span>REGISTRARME</a>
                </li>
          <% end %>
        <!-- Control Sidebar Toggle Button -->
      </ul>
    </div>
  </nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <%=image_tag 'user2-160x160.jpg', class: "img-circle", alt: "img-circle"%>
      </div>
      <div class="pull-left info">
        <small><%= current_user.nombre.upcase%></small><br>
        <a href="#"><i class="fa fa-circle text-success"></i>Online</a>
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MENU DE NAVEGACION</li>
      <% if current_user.has_role? :admin%>
      <li class="active treeview menu-open">
        <a href="#">
          <i class="fa fa-dashboard"></i> <span>Articulos</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="<%=articulos_path%>"><i class="fa fa-circle-o"></i>Lista de Articulos</a></li>
            <li class="active"><a href="<%=new_articulo_path%>"><i class="fa fa-circle-o"></i>Crear Articulo</a></li>
        </ul>
      </li>
      <%end%>
      <li class="active treeview menu-open">
        <a href="#">
          <i class="fa fa-dashboard"></i> <span>Categorias</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="<%=categorias_path%>"><i class="fa fa-circle-o"></i>Lista de Categorias</a></li>
          <% if current_user.has_role? :admin%>
            <li class="active"><a href="<%=new_categoria_path%>"><i class="fa fa-circle-o"></i>Crear Categorias</a></li>
          <%end%>
        </ul>
      </li>
      <% if current_user.has_role? :admin%>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i>
          <span>Especialidades</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="<%=especialidades_path%>"><i class="fa fa-circle-o"></i> Listado De Especialidades</a></li>
            <li><a href="<%=new_especialidad_path%>"><i class="fa fa-circle-o"></i> Crear Especialidad</a></li>
        </ul>
      </li>
      <%end%>
      <% if current_user.has_role? :admin%>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>Tallas</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="<%=tallas_path%>"><i class="fa fa-circle-o"></i> Listado De Tallas</a></li>
            <li><a href="<%=new_talla_path%>"><i class="fa fa-circle-o"></i> Crear Talla</a></li>
          </ul>
        </li>
      <%end%>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
<!-- Content Wrapper. Contains page content -->
