<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>UNIFORMATE | V 1.0</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag  params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css")%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Main -->
    <%= stylesheet_link_tag  'main.css'%>
    <!--toastr -->
    <%= stylesheet_link_tag  'toastr/toastr.min.css'%>
    <!-- Bootstrap 3.3.7 -->
    <%= stylesheet_link_tag  'bootstrap/bootstrap.min.css'%>
    <!-- Font Awesome -->
    <%= stylesheet_link_tag  'bootstrap/font-awesome.min.css'%>
    <!-- Ionicons -->
    <%= stylesheet_link_tag  'bootstrap/ionicons.min.css'%>
    <!-- jvectormap -->
    <%= stylesheet_link_tag  'bootstrap/jquery-jvectormap.css'%>
    <!-- Theme style -->
    <%= stylesheet_link_tag  'adminlte/adminlte.min.css'%>
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <%= stylesheet_link_tag  'adminlte/_all-skins.min.css'%>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
      <%= render "layouts/navegation" %>
      <div class="content-wrapper">
        <section class="content-header">
          <h1>Uniformate<small>Version 1.0</small></h1>
        </section>
        <section class="down">
          <%= breadcrumbs display_single_fragment: true, style: :bootstrap %>
        </section>
        <div class="container">
          <%= custom_bootstrap_flash %>
          <%=yield%>
        </div>
        <div class="control-sidebar-bg"></div>
      </div>
      <%= render "layouts/footer" %>
    <script>
      var dummyContent = $('.dummy-content').children(),
        i;
      $('#add-content').click(function(e){
        e.preventDefault();
        if($(dummyContent[0]).is(":visible")){
          for(i=0;i<dummyContent.length;i++){
            $(dummyContent[i]).fadeOut(600);
          }
        }
        else{
          for(i=0;i<dummyContent.length;i++){
            $(dummyContent[i]).delay(600*i).fadeIn(600);
          }
        }
      });
    </script>
    <!-- jQuery 3 -->
    <%= javascript_include_tag 'dist/js/jquery.min.js'%>
    <!-- Bootstrap 3.3.7 -->
    <%= javascript_include_tag 'dist/js/bootstrap.min.js'%>
    <!-- FastClick -->
    <%= javascript_include_tag 'dist/js/fastclick.js'%>
    <!-- AdminLTE App -->
    <%= javascript_include_tag 'dist/js/adminlte.min.js'%>
    <!-- Sparkline -->
    <%= javascript_include_tag 'dist/js/jquery.sparkline.min.js'%>
    <!-- jvectormap  -->
    <%= javascript_include_tag 'dist/plugins/jquery-jvectormap-1.2.2.min.js'%>
    <%= javascript_include_tag 'dist/plugins/jquery-jvectormap-world-mill-en.js'%>
    <!-- SlimScroll -->
    <%= javascript_include_tag 'dist/js/jquery.slimscroll.min.js'%>
    <!-- ChartJS -->
    <%= javascript_include_tag 'dist/js/Chart.js'%>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <%= javascript_include_tag 'dist/js/dashboard2.js'%>
    <!-- AdminLTE for demo purposes -->
    <%= javascript_include_tag 'dist/js/demo.js'%>
  </body>
</html>
