<div class="container">
  <div class = "row">
      <div class="col-md-12">
        <%= simple_form_for(@articulo) do |f| %>
          <% @articulo.errors.full_messages.each do |message| %>
            <div class="form-group text-center be-red white">
            <%= message %>
            </div>
          <%end%>
          <div class="row">
            <div class="col-md-5">
              <label>Nombre</label>
              <%= f.text_field :nombre, required: true,
                  autofocus: true, class:"form-control", placeholder: "Nombre del Articulo"%>
            </div>
            <div class="col-md-5">
              <label>Codigo</label>
              <%= f.number_field :codigo, required: true,autofocus: true, min:1,
              class: 'form-control', placeholder: "Codigo del Articulo"%>
            </div>
          </div>
            <br>
          <div class="row">
            <div class="col-md-5">
              <label>Cantidad</label>
                  <%= f.number_field :cantidad,required: true, autofocus: true, min:1, class:"form-control", placeholder: "Escribe La Cantidad De articulo"%>
            </div>
            <div class="col-md-5">
              <label>Valor (Precio $)</label>
              <%= f.number_field :valor,required: true,autofocus: true, min:1 , class: "form-control", placeholder: "Escribe el valor Del articulo", hint: "Escriba el valor del Articulo sin puntos ni comas."%>
            </div>
          </div>
            <br>

            <div class="row">
              <div class="col-md-5">
                <%= f.association :categoria, label_method: :nombre, value_method: :id, min:"1"%>
            </div>

            <div class="col-md-5">
              <%= f.input :imagen, input_html: {class: "form-control input-lg"}%>
            </div>
              </div>

                <br>

            <div class="row">
              <div class="col-md-4">
              </div>
              <div class="col-md-4">
                <%= f.submit "Guardar Cambios", class:"btn btn-success" %>
              </div>
              <div class="col-md-4">
              </div>
            </div>


        </div>

  </div>

        <%end%>
      </div>
