<div class = "row">
    <div class="col-md-4">
    </div>
      <div class="col-md-4">
        <%= simple_form_for(@articulo) do |f| %>
          <% @articulo.errors.full_messages.each do |message| %>
            <div class="form-group text-center be-red white">
            * <%= message %>
            </div>
          <%end%>
              <div class="form-group">
                  <label for="exampleInputEmail1">Nombre</label>
                  <%= f.text_field :nombre,required: true,autofocus: true,input_html: {placeholder: "Titulo"}, class:'form-control'%>
              </div>
              <div class="form-group">
                  <label for="exampleInputEmail1">Codigo</label>
                  <%= f.number_field :codigo,required: true,autofocus: true, min:1 , class: 'form-control' , input_html: {placeholder: "Escribe el codigo Del articulo"}%>
              </div>
              <div class="form-group">
                  <label for="exampleInputEmail1">Cantidad</label>
                  <%= f.number_field :cantidad,required: true,autofocus: true, min:1 ,input_html: {placeholder: "Escribe La Cantidad De articulo"}, class:'form-control'%>
              </div>
              <div class="form-group">
                  <label for="exampleInputEmail1">Valor</label>
                  <%= f.number_field :valor,required: true,autofocus: true, min:1 , class: 'form-control' , input_html: {placeholder: "Escribe el valor Del articulo"} %>
              </div>
              <div class="form-group">
                  <%= f.association :categoria, label_method: :nombre, value_method: :id , input_html: {class: "input-lg", min:"1" } %>
              </div>
              <div class="form-group">
                <%= f.input :estado, as: :radio_buttons, collection: [['Activo',true],['Inactivo', false]]%>
              </div>
              <div class="form-group text-center">
                    <%= f.submit "Guardar Cambios", class:"btn btn-outline-primary btn-lg btn-block" %>
              </div>
        <%end%>
      </div>
    <div class="col-md-4">
    </div>
</div>
