<%= simple_form_for(@articulo) do |f| %>
  <% @articulo.errors.full_messages.each do |message| %>
    <div class="form-group text-center be-red white">
    * <%= message %>
    </div>
  <%end%>
  <div class="form-group text-center">
    <label for="exampleInputEmail1">Nombre<%= f.text_field :nombre,required: true,autofocus: true,input_html: {placeholder: "Titulo"}, class:'form-control'%></label>
  </div>
    <div class="form-group text-center">
      <label for="exampleInputEmail1">Codigo<%= f.number_field :codigo,required: true,autofocus: true, min:1 , class: 'form-control' , input_html: {placeholder: "Escribe el codigo Del articulo"}%></label>
    </div>
    <div class="form-group text-center">
      <label for="exampleInputEmail1">Cantidad<%= f.number_field :cantidad,required: true,autofocus: true, min:1 ,input_html: {placeholder: "Escribe La Cantidad De articulo"}, class:'form-control'%></label>
    </div>
    <div class="form-group text-center">
      <label for="exampleInputEmail1">Valor <%= f.number_field :valor,required: true,autofocus: true, min:1 , class: 'form-control' , input_html: {placeholder: "Escribe el valor Del articulo"}%></label>
    </div>
    <div class="form-group text-center">
        <%= f.submit "Guardar Cambios", class:"btn btn-warning" %>
    </div>
<%end%>
