<div class="container down">
  <!-- Modal HTML Markup -->
  <div id="formulario" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <!--<h4 class="modal-title">ENCABEZADO</h4>-->
          <h4 class="modal-tittle" align="center"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Detalles De <%= @articulo.nombre %> </h4>
        </div>
        <div class="modal-body">
          <center>
            <label for="">Nombre: <%= @articulo.nombre %></label><br>
            <label for="">Cantidad: <%= @articulo.cantidad %></label><br>
            <label for="">Precio: <%= @articulo.valor %></label><br>
            <label for="">Categoria: <%= @articulo.categoria.nombre %></label><br>
            <label for="">Estado: <%= @articulo.estado ? "Activo" : "Inactivo" %></label>
            </center>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           <button type="button" class="btn btn-nar">Mandar Al Carrito</button>
         </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
