<div class="container">
  <% if signed_in? %>
    <%if current_user.has_role? :admin %>
      <div class="table-responsive">
        <% breadcrumb :articulos %>
          <h1 class="text-center">Articulos</h1>
        <%= form_tag(articulos_path, class:"form-inline" , method: :get) do %>
          <div class="form-group">
            <input type="text" name="q" class="form-control" placeholder="Buscar..." type="text" value="<%= params[:q] %>">
            <span class="form-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
            </span>
          </div>
        <%end%><br>
            <table class="table table-striped">
              <tr>
                <th class="bg-primary">Id</th>
                <th class="bg-primary">Codigo</th>
                <th class="bg-primary">Nombre</th>
                <th class="bg-primary">Cantidad</th>
                <th class="bg-primary">Precio</th>
                <th class="bg-primary">Estado</th>
              </tr>
              <% @articulos.each do |articulo| %>
                <tr>
                  <td><%=  articulo.id%></td>
                  <td><%= link_to articulo.codigo , articulo_path(articulo.id) %></td>
                  <td><%=  articulo.nombre %></td>
                  <td><%=  articulo.cantidad %></td>
                  <td><%=  articulo.valor %></td>
                  <td><%= articulo.estado ? "Activo" : "Inactivo" %></td>
                </tr>
              <%end%>
            </table>
      </div>
        <%else%>
          <% breadcrumb :articulos %>
          <h1 class="text-center">Articulos en Venta</h1>
              <div class="col-md-3">
                <% @articulos.each do |articulo| %>
                <%= link_to articulo_path(articulo.id) do %>
                  <%= link_to articulo_path(articulo.id) do %>
                    <div class="full-width post">
                        <figure class="full-width post-img">
                            <!-- Tamaño de la imagen 248x186 pixeles-->
                            <% if articulo.imagen.present? %>
                                <%= image_tag articulo.imagen.thumb.url %>
                            <%else%>
                                <%= image_tag 'default-150x150'%>
                            <%end%>
                            <div class="full-width post-info">
                               <p class="full-width post-info-price nom_gru"><label>Nombre:</label><%=  articulo.nombre%></p>
                               <p class="full-width post-info-price nom_gru"><label>Precio:</label><%=  articulo.valor%></p>
                            </div>
                        </figure>
                    </div>
                </div>
                <%= link_to articulo_path(articulo) do %>
                <div class="full-width post">
                    <figure class="full-width post-img">
                      <!-- Tamaño de la imagen 248x186 pixeles-->
                      <% if articulo.imagen.present? %>
                          <%= image_tag articulo.imagen.thumb.url%>
                      <%else%>
                          <%= image_tag 'default-150x150'%>
                      <%end%>
                    </figure>
                    <div class="card-body">
                        <p class="text-center"><%=articulo.nombre%></p>
                        <p class="text-center"><label>precio: $</label><%=articulo.valor%></p>
                    </div>
                </div>
              </div>
          <%end%>
        <%end%>
    <%end%>
  <%end%>
</div>
