<div class="table-responsive">
  <h1 class="text-center">Articulos</h1>
      <table class="table table-striped">
        <tr>
          <th class="active">Id</th>
          <th class="active">Codigo</th>
          <th class="active">Nombre</th>
          <th class="active">Cantidad</th>
          <th class="active">Precio</th>
        </tr>
            <% @articulos.each do |articulo| %>
            <tr>
              <td><%= articulo.id %></td>
            <td><%= articulo.codigo %></td>
            <td class=""><%= link_to articulo.nombre, articulo %></td>
            <td class=""><%= articulo.cantidad %></td>
            <td><%= articulo.valor %></td>
            </tr>
        <%end%>
      </table>
</div>
<%= link_to "Crear Articulo", new_articulo_path(@articulo) , class:"btn btn-success btn-lg" %>
