<div class="container">
    <h1 class="text-center"><%= @articulo.nombre %></h1>
    <div class="row">
          <table class="table table-striped">
            <tr>
              <th class="active">Codigo</th>
              <th class="active">Nombre</th>
              <th class="active">Cantidad</th>
              <th class="active">Precio</th>
              <th class="active">Editar</th>
            </tr>
                <tr>
                <td class="active"><%= @articulo.id %></td>
                <td class=""><%= @articulo.nombre %></td>
                <td class=""><%= @articulo.cantidad %></td>
                <td>  <%= @articulo.valor %></td>
                <td><%= link_to "Editar", edit_articulo_path(@articulo) , class:"btn btn-warning"%> </td>
                </tr>
          </table>
    </div>
</div>
<%= link_to "Atras", articulos_path(@articulo) , class:"btn btn-danger" %>
