<% if signed_in? %>
  <div class="col-md-1"></div>
     <div class="col-md-10">
       <% breadcrumb :articulo_show, @articulo %>
          <h1 class="text-center"><%= @articulo.nombre %></h1>
          <div class="form-group">
            <form>
              <div class="row">
                <div class="col-md-2">
                  <h2>Codigo</h2><%= @articulo.codigo%>
                    <%if current_user.has_role? :admin %>
                      <br><br><%= link_to "Editar Articulo", edit_articulo_path(@articulo) , class:"btn btn-warning"%><br><br>
                    <%end%>
                 </div>
                 <div class="col-md-2">
                    <h2>Nombre</h2>
                    <%= @articulo.nombre %>
                 </div>
                 <div class="col-md-2">
                     <h2>Cantidad </h2>
                     <%= @articulo.cantidad %>
                 </div>
                 <div class="col-md-2">
                     <h2>Precio</h2>
                     <%= @articulo.valor %>
                 </div>
                 <div class="col-md-2">
                     <h2>Categoria</h2>
                     <%= @articulo.categoria.nombre %>
                 </div>
                 <div class="col-md-2">
                      <h2>Estado</h2>
                      <%= @articulo.estado ? "Activo" : "Inactivo" %>
                 </div>
              </div><br>
            </form>
          </div>
      </div>
  <div class="col-md-1"></div>
<%end%>
